.container{
    width: 100vw;
    height:auto;
    background-color: brown;
}
.topContainer{
    width:35vw;
    height:25vh;
    display: flex;
    justify-content:center;
    flex-direction: column;
    margin-left: 7vw;
}
.title{
    font-family: 'Mulish';
    font-weight: 800;
    font-size: 48px;
}
.titleTwo{
    font-family: 'Mulish';
    font-weight: 600;
    font-size: 18px;
    color: #6D7D8B;
}
.postContainer{
    width: 100vw;
    height:auto;
    display: flex;
    flex-wrap: wrap;
}